<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - AppLanches - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        <a class="float-right m-2" href="https://www.instagram.com/alex.bezerra.50/"><ion-icon name="logo-instagram"></ion-icon> 
        <a class="float-right m-2" href="https://github.com/OpsAlex"><ion-icon name="logo-github"></ion-icon> 
        <a class="float-right m-2" href="https://www.facebook.com/alex.bezerra.50/"><ion-icon name="logo-facebook"></ion-icon>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</footer>