@{
    ViewData["Title"] = "UploadFiles";
}
<img src="~/Imagens/upload2.png" width="200" height="150" />
<hr />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @if (ViewData["Erro"] != null)
        {
            <img src="~/images/erro1.png" width="150" height="150" />
            <h4>@ViewData["Erro"]</h4>
        }
    </div>
    <div class="container">
        @*Retornando o resultado *@
        @if (ViewData["Resultado"] != null)
        {
            <h4>@ViewData["Resultado"]</h4>
            <hr />
            @if (ViewBag.Arquivos != null)
            {
                @foreach (string arquivo in ViewBag.Arquivos)
                {
                    <li>
                        @arquivo
                    </li>
                }
            }
        }
        <br>
        <br>
        <a class="btn btn-primary btn-lg" asp-area="Admin" asp-controller="AdminImagens" asp-action="Index" role="button">Voltar</a>
    </div>
</div>