@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
            {
                <li>
                    <a asp-controller="CarrinhoCompra">
                        <span><img src="~/Imagens/Full-Cart-icon.png" /></span>
                        <span style="color:white">
                            @Model.CarrinhoCompra.CarrinhoCompraItens.Count
                        </span>
                    </a>
                </li>
            }