@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
            {
                    <a asp-controller="CarrinhoCompra">
                        <span><img src="~/Imagens/carts.png" /></span>
                        <span style="color:blue">
                            @Model.CarrinhoCompra.CarrinhoCompraItens.Count
                        </span>
                    </a>
            }