<div class="jumbotron">
    <h2>Seja Bem-vindo a Área Administrativa</h2>
    <img src="~/Imagens/admin.jpg" class="d-block w-100" alt="Àrea de Administração"/>
    <p class="lead">Esta área é exclusivamente de uso administrativo.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index" role="button">Volta a Home Page</a>
    </p>
</div>